<a href="https://colab.research.google.com/github/suminwhk01/tnalswhk013/blob/main/1%EC%9E%A5%2B2%EC%9E%A5(%EC%A0%9C%EB%8C%80%EB%A1%9C%EB%90%9C%EA%B1%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("안산공고 컴퓨터과 3학년 3반 20번 최수민");

안산공고 컴퓨터과 3학년 3반 20번 최수민

In [3]:
print("내일은 즐거운 졸업여행");
print("준비물 잘 챙기자.");
print("다치지 말고 재미있게 놀다오자");

내일은 즐거운 졸업여행
준비물 잘 챙기자.
다치지 말고 재미있게 놀다오자

In [6]:
a = 100
b = 200
result = a + b

print(a,"+",b,"=",result)

100 + 200 = 300

In [7]:
num1 = 100
num2 = 200
result = num1 * num2

print(num1,"x",num2,"=",result);

100 x 200 = 20000

In [8]:
num1 = 100
num2 = 200
result = num1 / num2

print(num1,"/",num2,"=",result);

100 / 200 = 0.5

In [9]:
num1 = 100
num2 = 200
result = num1 - num2

print(num1,"-",num2,"=",result);

100 - 200 = -100

In [10]:
num1 = 100
num2 = 200
result = num1 // num2

print(num1,"//",num2,"=",result);

100 // 200 = 0

In [12]:
num1 = 1
num2 = 2
result = num1 % num2

print(num1,"%",num2,"=",result);

1 % 2 = 1

In [14]:
num1 = 100
num2 = 20
result = num1 ** num2

print(num1,"xx",num2,"=",result);

100 xx 20 = 10000000000000000000000000000000000000000